defaults
	retries 2
	timeout connect 2s
	timeout client 30s
	timeout server 30s

global

userlist creds
	user admin password $5$yHTeDqkw7Ranq/R9$Q/874kAs6H80YE7C2Fvx2YhR4Orm6stdbDwlxhENQk0
	user readonly password $5$YVbQRGTmE994Wnnp$Y3Ldmh8fzrFXGBHEUJ/P5q8ucWEru3TtTRBxEL74B8/

frontend fe_http

# qbittorrent daemon
backend be_qbtd
	balance roundrobin
	option forwardfor
	server qbtd1 [::1]:10091

backend st_main
